# set these to customize the "custom" entrypoint command
export ENTRYPOINT_CMD=mycmd
export ENTRYPOINT_CMD_PATH=$BIN_DIR/mycmd
# here you could put specific exports
# or source another file, whatever.  this is sourced at shell login
export DEFAULT_DIR=/opt/bin
export NONSENSE="this is from the run.env file"